.input-container{
    margin: 0 12.5px;
}


.input-container h4{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #654062;
    margin-bottom: 5px;
}

.input-container input, .input-container select{
    width: 260px;
    height: 50px;
    padding: 0 25px;
    border-radius: 20px;
    border: none;
    text-align: center;
    color: #4F4F4F;
    outline: none;
    font-size: 16px;
}

.clear{
    width: 50px;
    height: 50px;
    background-color: #654062;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    transition: all .3s ease;
}

.clear:hover{
    background-color: #FF9D72;
}